<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.greenaddress.abcore"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".DownloadInstallCoreIntentService"
            android:exported="false"/>
        <service
            android:name=".RPCIntentService"
            android:exported="false"/>
        <service
            android:name=".ABCoreService"
            android:exported="false"/>

        <activity android:name=".BitcoinConfEditActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="com.greenaddress.abcore.BitcoinConfEditActivity"/>
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:noHistory="true"/>
        <activity
            android:name=".DownloadSettingsActivity"
            android:label="@string/title_activity_download_settings"
            android:noHistory="true"/>
        <activity
            android:name=".PeerActivity"
            android:label="@string/title_activity_peer"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress"
            android:theme="@style/AppTheme"/>
        <activity android:name=".LogActivity"/>
        <activity android:name=".ConsoleActivity"/>
        <activity android:name=".DownloadActivity"/>

        <receiver android:name=".PowerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>